* {
  background-color: tan;
  font-family: monospace;
}

a {
  font-family: monospace;
  background-color: #333333;
  font-size: 18px;
}

.home-link {
  background: tan !important;
  font-size: 18px !important;
}

@media screen and (max-width: 900px) {
  body,
  html {
    overflow-x: hidden;
  }
}
